@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --clr-gray: #777;
  --clr-yellow: #b68834;

  --fs-xl: 4.285714285714286rem;
  --fs-l: 2.25rem;
  --fs-medium: 1.125rem;
  --fs-small: 0.75rem;

  --box-shadow: 0 10px 30px 0 rgba(182,136,52,.2);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  position: relative;
  line-height: 1.625em;
  text-align: left;
  background-color: #fff;
  color: var(--clr-gray);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 16px;
  border: 0;
  background: none;
  font-size: 24px;
  color: #fff;
  transition: all .4s;
  outline: none;
  cursor: pointer;
}

/* HEADER */
.header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all .5s;
  z-index: 997;
}

.banner {
  background: url(/imgs/xheader-bg-jpg-pagespeed-ic-YfGrEbXWQM.webp);
  height: 712px;
  display: flex;
  align-items: center;
  justify-items: start;
  color: var(--clr-white);
  
}
.banner__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2em;

}
.banner__title {
  font-size: var(--fs-xl);
  line-height: 1.2em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner__title br {
  display: none;
}
.banner__btn {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  display: inline-block;
  line-height: 36px;
  text-decoration: none;
}