@use "../util" as *;

.gallery-section {
  padding-block: rem(100);
  text-align: center;
  &__title {
    color: #222222;
    font-size: rem(36);
    margin-bottom: 10px;
  }
  &__subtitle {
    color: #777;
    font-size: rem(14);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: rem(100);
  }
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;

  gap: rem(30);

  > img {
    width: 80%;

    object-fit: cover;
  }
  @include breakpoint("medium") {
    grid-template: repeat(5, 1fr) / repeat(6, 1fr);
    img:nth-child(1) {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
    }
    img:nth-child(2) {
      grid-row: 1 / 4;
      grid-column: 3 / 7;
    }
    img:nth-child(3) {
      grid-row: 3 / 6;
      grid-column: 1 / 3;
    }
    img:nth-child(4) {
      grid-row: 4 / 6;
      grid-column: 3 / 5;
    }
    img:nth-child(5) {
      grid-row: 4 / 6;
      grid-column: 5 / 7;
    }
    > img {
      width: 100%;
      height: 100%;
    }
  }
}
