@use "../util" as *;

.hide {
  display: none !important;
}
.header {
  width: 100%;
  position: fixed;
  padding-top: rem(15);
  z-index: 10;
  transition: all 0.5s;
}
.store-info {
  display: flex;
  margin: 0;
  @include breakpoint-down("medium") {
    display: none;
  }

  &__link {
    font-size: rem(12);
    font-weight: 300;
  }
  &__link + &__link {
    margin-left: rem(25);
  }
  &__link:first-child {
    margin-left: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: grid;
    place-content: center;
  }
  &__links {
    display: flex;

    @include breakpoint-down("medium") {
      display: none;
    }
  }
  &__link {
    text-transform: uppercase;
    color: #fff;
    font-size: rem(12);
    font-weight: 600;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
  &__item + &__item {
    margin-left: rem(25);
  }
}
