@use "../util" as *;

.main {
  height: 100%;
  display: grid;
  place-content: center;
  margin-bottom: rem(75);
  &__content {
    max-width: rem(600);
    width: 100%;
    display: grid;
    margin-top: rem(-150);
    @include breakpoint-down("medium") {
      text-align: center;
    }
  }
  &__subtitle {
    font-size: rem(12);
    font-weight: 600;
    text-transform: uppercase;
    @include breakpoint-down("medium") {
      width: 100%;
    }
  }
  &__title {
    font-size: var(--step-0);
    margin-block: max(15px, 3.5vmin);
    margin-top: 0;
    line-height: 1.2em;
  }
  &__btn {
    display: inline-block;
    font-size: rem(14);
    font-weight: 600;
    padding: rem(7) rem(40);
    border-radius: rem(50);
    max-width: rem(150);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border: 1px solid white;
    cursor: pointer;

    &:hover {
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      transition: 0.3s;
    }

    @include breakpoint-down("medium") {
      margin: auto;
    }
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  .store-info {
    display: none;
  }
  /* .main {
    height: calc(100vh + 300px);
  } */
}
