@use "../util" as *;

.mobile-nav {
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 69;
  display: grid;
  place-content: center;
  text-align: center;
  &__links {
  }
  &__item {
    &:hover {
    }
  }
  &__item + &__item {
    margin-top: rem(25);
  }
  &__link {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: rem(16);
  }
}
