@use "../util" as *;

body {
  height: 100vh;
  background: url("imgs/header-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
}

.container {
  width: clamp(16rem, 90vw, 75rem);
  margin-inline: auto;

  @include breakpoint(large) {
    padding: 0;
    transform: translate(0, 0);
  }
}
